# OS files
.DS_Store
Thumbs.db

# Logs and caches
*.log
*.cache
*.tmp
*.swp

# Composer / Node dependencies
/vendor/
/node_modules/

# Build output
/dist/
/build/


.vscode/

# Backup files
*.bak

# WordPress uploads (if accidentally inside plugin)
uploads/
